:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgba(255, 255, 255);
}

.main {
  width: 100%;
}
.main .secTitle .title {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem 0;
  color: var(--textColor);
  z-index: 2;
  font-size: 1.3rem;
}
.main .secTitle .title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 105px;
  background: var(--SecondaryColor);
  right: 0;
  bottom: 3px;
  z-index: -1;
}
.main .secContent {
  justify-content: center;
  row-gap: 1.5rem;
}
.main .secContent .destination {
  display: grid;
  height: 100%;
  row-gap: 10px;
  align-items: center;
  border-radius: 10px;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.main .secContent .destination:hover {
  background: var(--cardHover);
  box-shadow: 1px 2px 4px rgba(85, 85, 140, 0.549);
  transition: 0.3s ease;
}
.main .secContent .destination .imgDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main .secContent .destination .imgDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.main .secContent .destination .imgDiv img:hover {
  transform: scale(1.1);
}
.main .secContent .destination .cardInfo {
  padding: 1rem;
}
.main .secContent .destination .cardInfo .desTitle {
  color: var(--blackColor);
  font-size: 1.3rem;
}
.main .secContent .destination .cardInfo .continent {
  gap: 0.5rem;
}
.main .secContent .destination .cardInfo .continent .icon {
  color: var(--textColor);
  font-size: 18px;
}
.main .secContent .destination .cardInfo .continent .name {
  font-weight: 400;
  color: var(--textColor);
  font-size: 16px;
}
.main .secContent .destination .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.7rem 0;
  border-top: 1.7px solid var(--greyText);
  border-bottom: 1.5px solid var(--greyText);
}
.main .secContent .destination .fees .grade {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  line-height: 20px;
  color: var(--textColor);
  text-transform: uppercase;
}
.main .secContent .destination .fees .grade small {
  text-align: center;
  background: var(--gradientColor);
  color: var(--whiteColor);
  padding: 1px 10px;
  font-size: 13px;
  border-radius: 1rem;
}
.main .secContent .destination .fees .price {
  font-size: 1.8rem;
  color: var(--blackColor);
}
.main .secContent .destination .desc {
  font-size: 17px;
  font-size: 500;
  color: var(--textColor);
}
.main .secContent .destination .btn {
  color: var(--whiteColor);
  margin: 1rem;
  font-weight: 600;
  width: 40%;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 15px;
}
.main .secContent .destination .btn .icon {
  font-size: 18px;
  align-self: center;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 155px !important;
  }
  .secContent {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .secContent .desc {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .secContent {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .secContent .desc {
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */