:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.footer {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .videoDiv {
    position: absolute;
    width: 100%;
    height: 100%;

    video {
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      background: rgba(34, 82, 97, 0.307);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      mix-blend-mode: multiply;
    }
  }

  .secContainer {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem initial;
    margin: auto;
    row-gap: 2rem;
    z-index: 100;

    .contactDiv {
      justify-content: space-between;
      flex-direction: column;
      gap: 1rem;

      .text {
        small {
          font-size: 18px;
          color: var(--whiteColor);
          font-weight: 400;
        }

        h2 {
          font-size: 1.8rem;
          color: var(--whiteColor);
          font-weight: 600;
        }
      }
      .inputDiv {
        width: 100%;
        flex-direction: column;
        gap: 1rem;

        input {
          width: 100%;
          padding: 0.5rem 0.6rem;
          border-radius: 3rem;
          border: 1px solid var(--whiteColor);
          outline: none;
          background: transparent;
          color: var(--whiteColor);

          &::placeholder {
            opacity: 0.9;
            color: var(--whiteColor);
          }
        }

        .btn {
          color: var(--whiteColor);
          font-weight: 500;
          font-size: 18px;
          width: 100%;
          justify-content: center;
          gap: 1rem;

          .icon {
            font-size: 19px;
          }
        }
      }
    }

    .footerCard {
      background: var(--bodyColor);
      position: relative;
      width: 100%;
      padding: 1rem 1rem 4rem;
      gap: 2rem;
      border-radius: 1rem;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden;

      .footerIntro {
        flex-basis: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 0.5rem;

        .logoDiv {
          .logo {
            color: var(--blackColor);
            font-weight: 600;
            font-size: 1.2rem;
          }

          .icon {
            color: var(--PrimaryColor);
            font-size: 25px;
            margin-right: 9px;
          }
        }

        .footerPara {
          font-size: 15px;
          color: var(--textColor);
        }

        .footerSocial {
          column-gap: 0.5rem;

          .icon {
            color: var(--blackColor);
            font-size: 24px;

            &:hover {
              color: var(--PrimaryColor);
            }
          }
        }
      }

      .footerLink {
        grid-template-columns: repeat(2, 1fr);
        flex-basis: 50%;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;

        .linkGrp {
          .footerTitle {
            display: block;
            font-weight: 600;
            color: var(--blackColor);
            margin-bottom: 0.5rem;
          }

          .footerList {
            color: var(--textColor);
            font-size: 15px;
            transition: 0.3s ease-in-out;
            // cursor: pointer;

            .icon {
              font-size: 15px;
              color: var(--greyText);
            }

            &:hover {
              color: var(--PrimaryColor);
              transform: translateX(7px);

              .icon {
                color: var (--SecondaryColor);
              }
            }
          }
        }
      }
    }
  }
}

//media queries
@media screen and (min-width: 500px) {
  .footer {
    .secContainer {
      .footerCard {
        .footerLink {
          grid-template-columns: repeat(3, 1fr);
          padding-bottom: 1rem;
        }
        .contactDiv {
          justify-content: space-between;
          flex-direction: row;

          small {
            font-size: 14px;
            color: var(--textColor);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .footer {
    .secContainer {
      .contactDiv {
        flex-direction: row;
        justify-content: space-between;
        .inputDiv {
          width: max-content;
          flex-direction: row;
          justify-content: flex-start;

          input {
            width: 60%;
          }
          .btn {
            width: max-content;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 840px) {
  .footer {
    padding: 5rem 0;
    .secContainer {
      .footerCard{
        flex-direction: row;
        .footerLink{
          grid-template-columns: repeat(3,1fr);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    .secContainer{
      .footerCard{
        padding: 3rem 1rem;

        .footerIntro{
          .footerPara{
            font-size: 15px;
            color: var(--textColor);
          }
          .footerSocial{
            column-gap: .5rem;
            .icon{
              color: var(--textColor);
              font-size: 25px;
              &:hover{
                color: var(--PrimaryColor);
              }
            }
          }
        }
        .footerLink {
          .linkGrp{
            .footerList{
              font-size: 16px;
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}
